<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Nested View Models</title>
    </head>
    <body>
        <div>
            @RenderBody()
        </div>
    </body>
</html>